
@{
    ViewBag.Title = "Test2";
}
<script src="~/Scripts/jquery-3.4.1.js"></script>
<br />
<ul>
    <li>@Html.ActionLink("Click for content result", "ContentResult", "ActionResultType")</li>
    <li>@Html.ActionLink("Click for file result", "FileContentResult", "ActionResultType")</li>
    <li>@Html.ActionLink("Click for empty result", "EmptyResult", "ActionResultType")</li>
    <li>@Html.ActionLink("Click for javascript result", null, null, null, new {@class = "javas"})</li>
    <li>@Html.ActionLink("Click for json result", "JSONResult", "ActionResultType")</li>
</ul>
<script>
    $(document).ready(function () {
        $(".javas").click(function () {
            $.getScript("/ActionResultType/JavaScriptResult");
        });
    });
</script>