@model IEnumerable<Test3.Models.Designation>

@{
    ViewBag.Title = "Designation Table";
}

<h2>DEsignation Table</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.designationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DesignationName)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.designationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DesignationName)
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Back to List", "Index")
