@using DataAccess.Models;
@model IEnumerable<StudentViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Student List</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table w-75 m-auto">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    <a asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id" class="btn btn-primary">View</a>
                    <a asp-controller="Home" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a>
                    <a onclick="return confirm('Are you sure to delete this student?');" class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@item.Id" asp-method="post">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
